n8n-workflows/customer-onboarding.json
{
  "name": "GovCon - Customer Onboarding",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "govcon-stripe",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Stripe Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"type\"]}}",
              "operation": "equals",
              "value2": "checkout.session.completed"
            }
          ]
        }
      },
      "id": "filter-checkout",
      "name": "Is Checkout Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "customer_email",
              "value": "={{$json[\"data\"][\"object\"][\"customer_details\"][\"email\"]}}"
            },
            {
              "name": "customer_name",
              "value": "={{$json[\"data\"][\"object\"][\"customer_details\"][\"name\"]}}"
            },
            {
              "name": "amount_total",
              "value": "={{$json[\"data\"][\"object\"][\"amount_total\"] / 100}}"
            },
            {
              "name": "plan_name",
              "value": "={{$json[\"data\"][\"object\"][\"amount_total\"] === 9700 ? 'Starter' : $json[\"data\"][\"object\"][\"amount_total\"] === 19700 ? 'Professional' : 'Enterprise'}}"
            },
            {
              "name": "stripe_customer_id",
              "value": "={{$json[\"data\"][\"object\"][\"customer\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-data",
      "name": "Extract Customer Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "fromEmail": "info@trapiermanagement.com",
        "toEmail": "={{$json[\"customer_email\"]}}",
        "subject": "🎉 Welcome to GovCon Command Center - Your {{$json[\"plan_name\"]}} Plan is Active!",
        "text": "",
        "html": "<!DOCTYPE html><html><head><style>body{font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;line-height:1.6;color:#333;max-width:600px;margin:0 auto;padding:20px}.header{background:linear-gradient(135deg,#1e3a8a 0%,#3b82f6 100%);color:white;padding:40px;text-align:center;border-radius:12px 12px 0 0}.content{background:#f9fafb;padding:40px;border-radius:0 0 12px 12px}.button{display:inline-block;background:#3b82f6;color:white;padding:15px 30px;text-decoration:none;border-radius:8px;font-weight:600;margin:10px 0}.steps{background:white;padding:20px;border-radius:8px;margin:20px 0}.step{padding:15px 0;border-bottom:1px solid #e5e7eb}.step:last-child{border-bottom:none}.step-number{background:#3b82f6;color:white;width:30px;height:30px;border-radius:50%;display:inline-flex;align-items:center;justify-content:center;margin-right:10px;font-weight:bold}</style></head><body><div class='header'><h1>Welcome to GovCon Command Center!</h1><p>Your {{$json[\"plan_name\"]}} Plan is now active</p></div><div class='content'><p>Hi {{$json[\"customer_name\"]}},</p><p>Thank you for starting your 14-day free trial! You now have access to powerful AI automations that will help you win more government contracts.</p><h3>🚀 Get Started in 3 Steps:</h3><div class='steps'><div class='step'><span class='step-number'>1</span><strong>Duplicate Your GovCon Template</strong><br>Click the button below to add your personalized command center to Notion.</div><div class='step'><span class='step-number'>2</span><strong>Set Your NAICS Codes</strong><br>We'll monitor SAM.gov for opportunities matching your capabilities.</div><div class='step'><span class='step-number'>3</span><strong>Configure Your Alerts</strong><br>Choose how and when you want to receive opportunity briefings.</div></div><p style='text-align:center'><a href='https://trapiermanagement.notion.site/GovCon-Command-Center-Template' class='button'>📋 Get Your GovCon Template</a></p><p style='text-align:center'><a href='https://billing.stripe.com/p/login/test_xxx' class='button' style='background:#6b7280'>Manage Subscription</a></p><p>Your trial includes full access to all {{$json[\"plan_name\"]}} features. We'll send you tips over the next 14 days to help you get the most value.</p><p>Questions? Just reply to this email!</p><p>Best,<br><strong>The GovCon Command Center Team</strong></p></div></body></html>",
        "options": {}
      },
      "id": "send-welcome-email",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [850, 200],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "upsert",
        "email": "={{$json[\"customer_email\"]}}",
        "additionalFields": {
          "firstName": "={{$json[\"customer_name\"].split(' ')[0]}}",
          "lastName": "={{$json[\"customer_name\"].split(' ').slice(1).join(' ')}}",
          "customProperties": {
            "property": [
              {
                "name": "govcon_plan",
                "value": "={{$json[\"plan_name\"]}}"
              },
              {
                "name": "stripe_customer_id",
                "value": "={{$json[\"stripe_customer_id\"]}}"
              },
              {
                "name": "trial_start_date",
                "value": "={{$now.format('yyyy-MM-dd')}}"
              }
            ]
          }
        }
      },
      "id": "hubspot-contact",
      "name": "Create HubSpot Contact",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 1,
      "position": [1050, 200],
      "credentials": {
        "hubspotApi": {
          "id": "2",
          "name": "HubSpot API"
        }
      }
    },
    {
      "parameters": {
        "channel": "#new-customers",
        "text": "🎉 New GovCon Customer!\n\n*Name:* {{$json[\"customer_name\"]}}\n*Email:* {{$json[\"customer_email\"]}}\n*Plan:* {{$json[\"plan_name\"]}}\n*Amount:* ${{$json[\"amount_total\"]}}/month",
        "otherOptions": {}
      },
      "id": "slack-notify",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1050, 400],
      "credentials": {
        "slackApi": {
          "id": "3",
          "name": "Slack API"
        }
      }
    }
  ],
  "connections": {
    "Stripe Webhook": {
      "main": [
        [
          {
            "node": "Is Checkout Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Checkout Complete?": {
      "main": [
        [
          {
            "node": "Extract Customer Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Customer Data": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Create HubSpot Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "GovCon",
      "createdAt": "2024-01-01T00:00:00.000Z"
    }
  ]
}
