n8n-workflows/subscription-management.json
{
  "name": "GovCon - Subscription Management",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "govcon-subscription",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Stripe Subscription Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"type\"]}}",
              "operation": "equals",
              "value2": "customer.subscription.deleted"
            }
          ]
        }
      },
      "id": "is-cancellation",
      "name": "Is Cancellation?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "customer_id",
              "value": "={{$json[\"data\"][\"object\"][\"customer\"]}}"
            },
            {
              "name": "subscription_id",
              "value": "={{$json[\"data\"][\"object\"][\"id\"]}}"
            },
            {
              "name": "event_type",
              "value": "={{$json[\"type\"]}}"
            },
            {
              "name": "cancel_reason",
              "value": "={{$json[\"data\"][\"object\"][\"cancellation_details\"]?.[\"reason\"] || 'Not specified'}}"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-cancel-data",
      "name": "Extract Cancellation Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "get",
        "customerId": "={{$json[\"customer_id\"]}}"
      },
      "id": "get-stripe-customer",
      "name": "Get Customer Details",
      "type": "n8n-nodes-base.stripe",
      "typeVersion": 1,
      "position": [850, 200],
      "credentials": {
        "stripeApi": {
          "id": "6",
          "name": "Stripe API"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "support@trapiermanagement.com",
        "toEmail": "={{$json[\"email\"]}}",
        "subject": "We're sorry to see you go - GovCon Command Center",
        "text": "",
        "html": "<!DOCTYPE html><html><head><style>body{font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;line-height:1.6;color:#333;max-width:600px;margin:0 auto;padding:20px}.header{background:#f3f4f6;padding:40px;text-align:center;border-radius:12px}.content{padding:40px 20px}.button{display:inline-block;background:#3b82f6;color:white;padding:15px 30px;text-decoration:none;border-radius:8px;font-weight:600}</style></head><body><div class='header'><h1>We're Sorry To See You Go</h1></div><div class='content'><p>Hi {{$json[\"name\"]}},</p><p>Your GovCon Command Center subscription has been cancelled. We're sad to see you go!</p><p>Your access will remain active until the end of your current billing period.</p><h3>Before you go, would you mind sharing why you cancelled?</h3><p>Your feedback helps us improve:</p><ul><li>Was the pricing not right?</li><li>Did you find the features useful?</li><li>Was there something missing you needed?</li></ul><p>Just reply to this email - we read every response.</p><h3>Changed Your Mind?</h3><p>You can resubscribe anytime and pick up right where you left off:</p><p style='text-align:center'><a href='https://govcon-command-center.vercel.app/#pricing' class='button'>Resubscribe Now</a></p><p>Thank you for trying GovCon Command Center. We hope to see you again!</p><p>Best,<br><strong>The GovCon Team</strong></p></div></body></html>",
        "options": {}
      },
      "id": "send-cancel-email",
      "name": "Send Cancellation Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1050, 200],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "update",
        "email": "={{$json[\"email\"]}}",
        "additionalFields": {
          "customProperties": {
            "property": [
              {
                "name": "govcon_status",
                "value": "cancelled"
              },
              {
                "name": "cancel_date",
                "value": "={{$now.format('yyyy-MM-dd')}}"
              },
              {
                "name": "cancel_reason",
                "value": "={{$('Extract Cancellation Data').item.json.cancel_reason}}"
              }
            ]
          }
        }
      },
      "id": "update-hubspot",
      "name": "Update HubSpot Status",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 1,
      "position": [1250, 200],
      "credentials": {
        "hubspotApi": {
          "id": "2",
          "name": "HubSpot API"
        }
      }
    },
    {
      "parameters": {
        "channel": "#churn-alerts",
        "text": "⚠️ Customer Cancelled\n\n*Email:* {{$json[\"email\"]}}\n*Reason:* {{$('Extract Cancellation Data').item.json.cancel_reason}}",
        "otherOptions": {}
      },
      "id": "slack-churn-alert",
      "name": "Alert Slack - Churn",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1250, 400],
      "credentials": {
        "slackApi": {
          "id": "3",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"type\"]}}",
              "operation": "equals",
              "value2": "customer.subscription.updated"
            }
          ]
        }
      },
      "id": "is-upgrade",
      "name": "Is Plan Change?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "Plan change detected for customer: {{$json[\"data\"][\"object\"][\"customer\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "handle-upgrade",
      "name": "Handle Plan Change",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Stripe Subscription Webhook": {
      "main": [
        [
          {
            "node": "Is Cancellation?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Cancellation?": {
      "main": [
        [
          {
            "node": "Extract Cancellation Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Plan Change?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Cancellation Data": {
      "main": [
        [
          {
            "node": "Get Customer Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Customer Details": {
      "main": [
        [
          {
            "node": "Send Cancellation Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Alert Slack - Churn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Cancellation Email": {
      "main": [
        [
          {
            "node": "Update HubSpot Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Plan Change?": {
      "main": [
        [
          {
            "node": "Handle Plan Change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "GovCon",
      "createdAt": "2024-01-01T00:00:00.000Z"
    }
  ]
}
